<!-- Button trigger modal -->
<button type="button" class="btn btn-<**button_color**>" data-bs-toggle="modal" data-bs-target="#<**Button_id**>">
    <**Button_name**>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="<**Button_id**>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-<**Modal_Size**>">
      <div class="modal-content" style="background-color:<**modal_color**>;" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><**Modal_title**></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </button>
        </div>
        <div class="modal-body">
            <**Modal_descriptions**>
        </div>
      </div>
    </div>
  </div>